.trackCell-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    align-self: stretch;
}

.trackCell-Icon {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.trackCell-Text-vStack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.trackCell-Text-hStack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}